<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>585790371294-5i6sr3ffkkfhd35menj2bnea0c38mguv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.585790371294-5i6sr3ffkkfhd35menj2bnea0c38mguv</string>
	<key>API_KEY</key>
	<string>AIzaSyCscW63eXngTDUHVgLA7fpVIT5DEBDvcQM</string>
	<key>GCM_SENDER_ID</key>
	<string>585790371294</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sara.gameOfChat</string>
	<key>PROJECT_ID</key>
	<string>gameofchat-d4daa</string>
	<key>STORAGE_BUCKET</key>
	<string>gameofchat-d4daa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:585790371294:ios:4af048c31f09d44de3594f</string>
</dict>
</plist>